.empresa {

	.container {
		margin: 0 auto 170px auto;
		padding-top: 170px;
		width: 960px;
	}

	.empresa_img {
		background: url(../img/empresa_img.png) no-repeat; //ícone a ser alterado para vetor
		float: left;
		width: 217px;
		height: 251px;
		margin-top: 25px;
	}

	%text-margin {
		margin-left: 305px;
	}

	p {
		@extend %text-margin;
		@include define-fonte('open_sansregular', 20px, #000);
		line-height: 3;
	}

	h2 {
		@extend %text-margin;
		margin-bottom: 25px;
	}
}