//Cores
$main_color: #e1a013;

a {
	text-decoration: none;
    outline: 0;
}

h1, h2, p, ul {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

h2 {
	@include define-fonte('open_sansregular', 30px, $main_color);
}