header, .minimenu>.container {

	position: relative;

	.logo_img {
		background: url(../img/logo-img.png) no-repeat;
		float: left;
		height: 153px;
		width: 117px;
	}

	p {
		@include define-fonte('open_sanssemibold', 38px, $main_color);
  		margin-top: 55px;
		margin-left: 135px;
	}

	.menu {
		z-index: 100;
		position: absolute;
		right: 0;
		top: 70px;
		li {
			display: inline-block;
			margin-left: 30px;
		}
		a {
			@include define-fonte('open_sanssemibold', 20px, #000);
			@include transition(0.2s, ease, all);
			padding-bottom: 8px;
			&:hover {
				color: darken($main_color, 10%);
				border-bottom: 2px solid darken($main_color, 10%);
			}
		}
	}

}

.minimenu {
	opacity: 0;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #FFF;
	border-bottom: 1px solid $main_color;
	z-index: 1;

	.container {
		.logo_img {
			background: url(../img/logomini-img.png) no-repeat;
			height: 106px;
			width: 106px;
		}
		.menu {
			top: 40px;
		}
		p {
			margin-top: 28px;
			padding-bottom: 25px;
			width: 320px;
		}
	}
}

.minimenu.active {
	opacity: 1;
	z-index: 9999;
	transition: opacity 0.5s;
}