header {

	position: relative;

	.logo_img {
		background: url(../img/logo-img.png) no-repeat;
		float: left;
		height: 153px;
		width: 117px;
	}

	p {
		@include define-fonte('open_sanssemibold', 38px, $main_color);
  		margin-top: 55px;
		margin-left: 135px;
	}

	.menu {
		position: absolute;
		right: 0;
		top: 70px;
		li {
			display: inline-block;
			margin-left: 30px;
		}
		a {
			@include define-fonte('open_sanssemibold', 20px, #000);
			&:hover {
				color: darken($main_color, 20%);
			}
		}
	}

}