.parceiros {

	// position: relative;
	
	.container {
		margin: 0 auto 170px auto;
		padding-top: 170px;
		width: 1010px;
		position: relative;
	}

	ul {
		width: 9999px;
		margin-left: 87px;
	}

	.partnericons {
		width: 1180px;
		margin-left: -85px;
		overflow: hidden;
		.partner {
			display: inline-block;
			text-indent: -9999px;
			background: url(http://placehold.it/243x243/);
			width: 243px;
			height: 243px;
			margin: 45px 3px 0 3px;
		}
		li {
			@include transition(All, 0.3s, ease-in-out);
			&:hover {
				-ms-transform: scale(1.02,1.02); /* IE 9 */
    			-webkit-transform: scale(1.02,1.02); /* Chrome, Safari, Opera */
    			transform: scale(1.02,1.02);
			}
		}
	}

	.arrow {		
		width: 24px;
		height: 46px;
		position: absolute;
		top: 355px;
		z-index: 9;
		@include transition(All, 0.2s, ease-in-out);
		&:hover {
			-ms-transform: scale(1.2,1.2); /* IE 9 */
    		-webkit-transform: scale(1.2,1.2); /* Chrome, Safari, Opera */
    		transform: scale(1.2,1.2);
		}
		&.right {
			background: url(../img/arrow-right.png) no-repeat;
			right: -45px;
		}
		&.left {
			background: url(../img/arrow-left.png) no-repeat;
			left: -45px;
		}
	}

	.degrade {
		width: 100px;
		height: 250px;
		position: absolute;
		top: 254px;
		&.right { 
			right: -90px;
			background: url(../img/degrade-right.png) no-repeat;
		}
		&.left { 
			left: -90px; 
			background: url(../img/degrade-left.png) no-repeat;
		}
	}

}