.parceiros {

	// position: relative;
	
	.container {
		margin: 0 auto 170px auto;
		padding-top: 170px;
		width: 1010px;
		position: relative;
	}

	ul {
		width: 9999px;
	}

	.partner {
		display: inline-block;
		text-indent: -9999px;
		background: url(http://placehold.it/243x243/);
		width: 243px;
		height: 243px;
		margin: 45px 3px 0 3px;
	}

	.arrow {
		
		width: 24px;
		height: 46px;
		position: absolute;
		top: 355px;

		&.right {
			background: url(../img/arrow-right.png) no-repeat;
			right: -45px;
		}
		&.left {
			background: url(../img/arrow-left.png) no-repeat;
			left: -45px;
		}
	}

}